{% extends "admin/base_admin.html" %}

{% block title %}Gestion de la galerie{% endblock %}

{% block content %}

<h1>Gestion de la galerie</h1>

<form method="POST" enctype="multipart/form-data">

    <label>Titre</label><br>
    <input type="text" name="titre" required>

    <br><br>

    <label>Description</label><br>
    <textarea name="description"></textarea>

    <br><br>

    <label>Photos</label>
    
    <input
    type="file"
    name="photos"
    multiple
    accept="image/*">

    <br><br>

    <label>Date</label>
    
    <input
    type="date"
    name="date"
    required>

    <br><br>

    <label>Année</label>

    <input
    type="text"
    name="annee"
    placeholder="2026"
    required>

    <br><br>

    <button type="submit">Ajouter</button>

</form>

<hr>

<hr>

{% for album in albums %}

<div class="album-admin">

    <h3>{{ album.titre }}</h3>

    <p>{{ album.description }}</p>

    <p>{{ album.date }}</p>

    {% if album.photos %}
        <img src="{{ url_for('static',
            filename='images/galerie/' + album.photos[0].photo) }}"
             width="250">
    {% endif %}

    <br><br>



    <a class="btn-supprimer"
       href="{{ url_for('supprimer_album', id=album.id) }}"
       onclick="return confirm('Supprimer cet album ?');">
        Supprimer
    </a>

</div>

<hr>

{% endfor %}

{% endblock %}