{% extends "base.html" %}

{% block title %}Galerie{% endblock %}

{% block content %}

<section class="page-header">
    <h1>Galerie Photos</h1>

    <p>
        Découvrez les albums photos des activités, événements
        et manifestations de l'UFR STA.
    </p>
</section>

<section class="galerie-container">

{% for album in albums %}

<div class="album-card">

    {% if album.photos %}

    <img
        src="{{ url_for('static', filename='images/galerie/' + album.photos[0].photo) }}"
        alt="{{ album.titre }}">

    {% endif %}

    <div class="album-content">

        <h2>{{ album.titre }}</h2>

        <p class="album-date">
            📅 {{ album.date }}
        </p>

        <p>
            {{ album.description }}
        </p>

        <a href="{{ url_for('voir_album', id=album.id) }}"
           class="btn-profil">
            Voir l'album →
        </a>

    </div>

</div>

{% else %}

<p>Aucun album disponible.</p>

{% endfor %}

</section>

{% endblock %}