{% extends 'base.html' %}

{% block title %}Accueil - UFR STA{% endblock %}

{% block content %}
<section class="slider-innovant">
    
    <div class="slide active">
        <div class="texte-box">
            <h2 class="anim-gauche">UFR STA</h2>
            <h3 class="anim-droite">Sciences et Technologies Avancées</h3>
            <p class="anim-bas">L'excellence académique au service de l'innovation technologique et de la recherche au Sénégal.</p>
        </div>
        <div class="image-box anim-zoom">
            <img src="static/images/groupe.jpeg" alt="Étudiants UFR STA">
        </div>
    </div>

    <div class="slide">
        <div class="texte-box">
            <h2 class="anim-haut">Innovation & Pratique</h2>
            <h3 class="anim-bas">Des laboratoires de pointe</h3>
            <p class="anim-bas">Des infrastructures modernes pour maîtriser les outils numériques d'aujourd'hui et de demain.</p>
        </div>
        <div class="image-box anim-zoom">
            <img src="static/images/labo.jpeg" alt="Salle informatique">
        </div>
    </div>

    <div class="slide">
        <div class="texte-box">
            <h2 class="anim-gauche">Leadership Étudiant</h2>
            <h3 class="anim-droite">Des profils d'avenir</h3>
            <p class="anim-bas">Nos étudiants échangent avec les décideurs et portent haut les couleurs de l'UAM sur la scène nationale.</p>
        </div>
        <div class="image-box anim-zoom">
            <img src="static/images/photo.jpeg" alt="Rencontre Ministre">
        </div>
    </div>

</section>
{% endblock %}